<strong>V&iacute;a Principal - Malla Vial</strong>
<div class="row bordered margen" [formGroup]="formulario">
    <div class="col-lg-2 col-md-2 form-group">
        <label>Tipo de v&iacute;a</label>
        <ng-select [items]="TiposVia" bindLabel="nombre" [compareWith]="comparador" class="fontSize11" formControlName="tipo"></ng-select>
    </div>
    <div class="col-lg-2 col-md-2 form-group">
        <label>N&uacute;mero o Nombre de v&iacute;a</label>
        <input class="form-control" formControlName="nombreONumero" [HasError]="errorNumeroONombre" [submitted]="true" maxlength="100" uppercase/>
        <div #errorNumeroONombre></div>
    </div>
    <div class="col-lg-2 col-md-2 form-group">
        <label>Letra v&iacute;a principal</label>
        <input class="form-control" formControlName="letraVia" maxlength="3" uppercase/>
    </div>
    <div class="col-lg-2 col-md-2 form-group">
        <label>Prefijo</label>
        <ng-select [items]="Prefijos" bindLabel="nombre" [compareWith]="comparador" class="fontSize11" formControlName="prefijo"></ng-select>
    </div>
    <div class="col-lg-2 col-md-2 form-group">
        <label>Letra prefijo</label>
        <input class="form-control" formControlName="letraPrefijo" maxlength="3" uppercase/>
    </div>
    <div class="col-lg-2 col-md-2 form-group">
        <label>Cuadrante</label>
        <ng-select [items]="Cuadrantes" bindLabel="nombre" [compareWith]="comparador" class="fontSize11" formControlName="cuadrante"></ng-select>
    </div>
</div>